.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Banner{
  color: #e0ece4;
}

h1{
  font-size: 500%;
  font-weight: bolder;
}

.Box{
  color: #0f3460;
  margin-right: auto;
  margin-left: auto;
  padding: 5%;
  justify-content: center;
  max-width: 80%;
  border-radius: 5px;
}

.searchBar{
  margin-bottom: 5%;
}

.Table{
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 150%;
}

.search{
  font-size: 150%;
  border: none;
  border-radius: 50px;
  color: #0f3460;
  margin-top: 1%;
  padding: 1%;
  padding-left: 3%;
  width: 50%;
}

.card{
  background: #0f3460;
}
