.App {
  text-align: center;
  background: #EDC7B7;
  min-height: 100vh;
}

.Banner {
  margin: 1%;
  padding-top: 8%;
  padding-bottom: 5%;
  font-weight: lighter;
  font-size: 100px;
  text-align: center;
  color: #AC3B61;
}

.textBox {
  width: 50%;
  padding-bottom: 2%;
  padding-top: 1%;
  padding-left: 2%;
  text-align: left;
  font-size: 40px; 
  border: none;
  background: #123C69;
  color: #EEE2DC;
}

.button {
  background: #AC3B61;
  border: none;
  color: #EDC7B7;
  font-size: 55px;
  padding: 1%;
}

.Result {
  color: #123C69;
  font-size: 50px;
  padding-top: 5%;
  font-weight: lighter;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
