.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Banner{
  color: #e9896a;
  font-weight: lighter;
  font-size: 150px;
  margin-bottom: 2%;
  margin-top: 2%;

}

.CheckLab{
  color: #343f56;
  margin-right: 5%;
  font-size: 30px;
}

.CheckBox{
  margin-left: 5%;
  height: 25px;
  width: 25px;
}

.Input{
  margin-top: 3%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 3%;
  color:#343f56;
  border: none;
  border-radius: 5px;
  font-size: 100%;
  padding: 0.5%;
}

.Story{
  font-size: 120%;
  color: #343f56;
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  background: #ffffff;
  padding: 2%;
  border-radius: 5px;
}

.Table{
  font-size: 120%;
  margin-top: 3%;
  background: #ffffff;
  margin-right: auto;
  margin-left: auto;
  padding: 1% 3% 1% 3%;
  border-radius: 3px;
  text-align: left;
  color: #343f56;
  min-width: 30%;
}

.Image{
  position: absolute;
  border-radius: 5px;
  opacity: 3%;
  top: 330px;
  right: 350px;
  min-width: 50%;

}
