.logo{
    border-radius: 200px;
    max-width : 15%;
    max-height: 15%;
}

.logo1{
    border-radius: 200px;
    max-width : 15%;
    max-height: 15%;
    border: 5px solid grey;
}

.flipOff{
    display:none;
}

.flipOn{
    display:block;
}

.banner{
    text-align: center;
    margin-top: 30px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 70px;
    color : #f9A602;
    margin-top: 0px;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color : rgb(2, 204, 249);
}

.wrapper{
    background-color: rgb(9, 7, 41);
}

.btn{
    justify-content: center;
    margin-right: auto;
    margin-left: auto;

}

h2{
    color : #ffff;
}

button{
    margin-top: 35px;
    background-color: #f9A602;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    border-radius: 10px;
    border-style: hidden;
    color:rgb(9, 7, 41);
}