
h1{
    text-align: center;
    color: white;
    font-size: 100px;
    margin-bottom: 2px;
    margin-top: 28px;
    font-family: monospace;
}

p{
    text-align: center;
    color: white;
    font-size: 20px;
    font-family: monospace;
}


.wrapper{
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, rgb(35, 143, 210));
}

.imgControl{
    width: 31%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    border: 2px solid white;
    border-radius: 5px;
}


.navi{
    display: flex;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.btn{
    background-color: white;
    border-bottom:2px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 8px;
    opacity: 70%;
    color: #2ea4b6;
    margin-right: 30px;
    margin-left: 30px;
    font-size: 20px;
    font-family: monospace;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.info{
    color: #2ea4b6;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(255,255,255,0.3));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: bolder;
    margin-left: 170px;
    margin-right: 170px;
    margin-top: 80px;
    max-width: 40%;
    padding-top: 5px;
    padding-bottom: 12px;
    padding-left: 75px;
    padding-right: 75px;
    border-radius: 5px;
    float:left;
}

h3{
    font-weight: lighter;
    margin-top: 35px;
}

.home{
    display:block;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.bigCircle, .smallCircle, .midCircle, .mediumCircle, .logo{
    background: white;
    background: linear-gradient(to right bottom, rgba(134, 225, 211, 0.934),rgba(255,255,255,0.1));
    position: absolute;
}

.bigCircle{
    height:6rem;
    width:6rem;
    border-radius: 50%;
    top: 17%;
    right: 83%;
}

.smallCircle{
    height:2rem;
    width:2rem;
    border-radius: 50%;
    top: 50%;
    right: 95%;
}

.midCircle{
    height:3rem;
    width:3rem;
    border-radius: 50%;
    top: 40%;
    right: 90%;
}

.mediumCircle{
    height:5rem;
    width:5rem;
    border-radius: 50%;
    top: 27%;
    right: 92%;
}

.logo{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    top: 4%;
    right: 90%;
    opacity: 20%;
}

.grades{
    margin-top: 80px;
}

.addGrade{
    display:block;
    color: #2ea4b6;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(255,255,255,0.3));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    padding: 12px;
    padding-left: 75px;
    padding-right: 85px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top:20px;
    float: left;
    border-radius: 5px;
}

.overAll{
    display:flex;
}

.pCard{
    display:block;
    color: #2ea4b6;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(255,255,255,0.3));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-right: 100px;
    margin-left: 80px;
    margin-top: 20px;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 50px;
    padding-bottom: 5px;
    float: left;
}

.gCard{
    display:block;
    color: #2ea4b6;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(255,255,255,0.3));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    border-radius: 5px;
    padding-left: 35px;
    padding-right: 60px;
    padding-bottom: 5px;
    float: right;
}

.grades{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.btnAdd{
    background-color: rgba(255,255,255,0.5);
    border: none;
    border-radius: 10px;
    color:#2ea4b6;
    margin-right: 0px;
    font-size: 20px;
    font-family: monospace;
    float:right;
    font-weight: bolder;
    padding-right: 10px;
    padding-left: 10px;
}

.table{
    max-width:78%;
    display:block;
    justify-content: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(255,255,255,0.3));
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color:#2ea4b6;
    border-collapse: collapse;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

th{
    padding:12px;
    padding-right: 75px;
    padding-left: 20px;
    text-align: center;
    border-bottom: 1px solid #2ea4b6;
    min-width: 155px;
}

tr{
    padding-bottom: 15px;
    text-align: left;
    
}

td{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 70px;
    border-top: 1px solid #2ea4b6;
}

.textBox{
    min-width: 100px;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

.textBox{
    color:#2ea4b6;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.5),rgba(255,255,255,0.3));
    border: 0.5px solid white;
}

.actionClass{
    background-color: rgba(255,255,255,0.1);
    border: none; 
    border-radius: 8px; 
    color:#2ea4b6;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.actionClass :hover {
    color: rgb(193, 135, 135);
}