.image {
    display : block; 
    margin-right : 30px; 
    margin-left: 30px; 
    max-width : 15%;
    border-radius: 30px;
    float: left;
    border : 4px solid rgb(9, 40, 87);
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    margin-left: 20px;
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    color: rgb(9, 40, 87);
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    padding-top: 10px;
    color : #ffff;
}

.info{
    margin-top: 40px;
    background-color: rgb(9, 40, 87);
    border-bottom : 4px solid #009879;
    border-top : 4px solid #009879;
}

.logo{
    display : block; 
    margin-right : 10px; 
    margin-left: 30px;
    margin-bottom: 40px; 
    max-width : 5%;
    border-radius: 10px;
    float: left;
    border : 4px solid #ffff;
}

tbody tr{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: normal;
    color: #009879;
}

tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

thead tr{
    background-color: #009879;
    color: #ffff;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


tbody tr:nth-child(odd) {
    background-color: #f3f3f3;
}

.table{
    margin-top : 50px;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    border-collapse:collapse;
}

.foot{
    margin-top : 100px;
    margin-right: auto;
    margin-left: auto;
    width: 35%;
    
    border-radius: 20px;
    color: rgb(9, 40, 87);
}